<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Popoki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="dest/style.css" media="screen" title="no title" charset="utf-8">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/vanilla.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body ng-controller="MainControl">
    <div class="container">

      <section id="nav">
        <h1>Popoki : your own Maplestory pet</h1>
      </section>

      <div id="game">
        <div class="row">
          <game-play></game-play>
          <game-control></game-control>
        </div>
      </div>

      <!-- Inventory -->

      <div id="inventory" class="modal">
          <div class="modal-content">
            <h4>Your Inventory</h4>

            <!-- If inventory is empty -->
            <div class="empty-message" ng-show="pet.inventory.length===0">
              <p>It's empty :(</p>
              <p>
                But it's okay! Here's an egg on the house. Click on the egg to feed to {{pet.name}}.
              </p>
              <img src="assets/egg.png" class="item-image" ng-click="feed('egg')" />
            </div>

            <!-- Ng repeat for all items in inventory -->
            <img ng-repeat="item_name in pet.inventory track by $index" ng-src="assets/{{item_name}}.png" ng-click="select_item(item_name)" class="item-image">

            <!-- Item details -->
            <div class="item-information">
              <fieldset>
                <legend>Item information</legend>
                <p><b>{{ current_item_name }}</b><br>
                  {{ current_item_information }}
                </p>
              </fieldset>
            </div>


          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close">close</a>
          </div>
      </div>



    </div>
  </body>
</html>
