// imports

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);



// variables

$dark-blue: #001f3f;
$navy-blue: #083358;
$sea-green: #0da574;
$yellow: #ffd717;


// general

body {
  font-family: "Open Sans", sans-serif;
  background-color: $dark-blue;
  color: $yellow;
  margin: 0;
  box-sizing: border-box;
}


select {
//   appearance: none;
//   background: transparent;
//   border: none;
}

h2 {
  font-size: 2.5em;
  letter-spacing: -1px;
}

p {
  line-height: 1.75;
}


// general classes

.modal-content {
  color: $dark-blue;
}


// specific

#nav {
  margin-top: 4em;
}

#game {
  background-color: $yellow;
  color: $navy-blue;
  border-radius: 10px;
  margin-top: 3em;
  max-height: 33em;
}


.game-play {
  background-image: url("../assets/maplestory_bg.png");
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 10px;
  max-height: 33em;

  #orange-mushroom {
    left:205px;
  }

  #red-snail {
    left: 212px;
  }

  .game-message {
    position: absolute;
    top:1px;
    left: 0;
    width: 100%;
    min-height: 32px;
    padding: 4px;

    background-color: rgba(0, 0, 0, .7);
    color: white;
    font-size: 1em;
  }
}

.game-play .monster-gif {
  position: absolute;
  bottom: 50px;
  left: 200px;
}

.game-play .game-wrap {
  position: relative;
  width: 500px;
  height: 500px;
}

.game-play .nametag {
  position: absolute;
  padding: .1em .3em .1em;
  bottom: 28px;

  background-color: rgba(0, 0, 0, .7);
  color: white;
  font-size: .8em;
}

.game-play .nametag.name-short {
  left: 223px;
}

.game-play .nametag.name-medium {
  left: 215px;
}

.game-play .nametag.name-long {
  left: 210;
}

.game-control {

  width: 100%;

  h2 {
    line-height: 1.25;
  }

  #house {
    select {
      display: inline-block;
    }
    form {
      display: inline-block;
    }
  }

  .signup-form {
    input[type="submit"] {
      display: flex;
      justify-content: center;
      padding: 10px 25px 10px;
      font-size: 1.2em;
      border: none;
      background-color: $sea-green;
      color: white;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }


      input[type="text"] {
        border-bottom-color: inherit;
      }

      select {
        border: 1px solid $navy-blue;
      }
  }

  .content {
    padding: 1em;
  }

}
