$dark-blue: #001f3f;
$navy-blue: #083358;
$sea-green: #0da574;
$yellow: #ffd717;

body {
  font-family: "Open Sans", sans-serif;
  background-color: $dark-blue;
  color: $yellow;
  margin: 0;
  box-sizing: border-box;
}


select {
   appearance: none;
   background: transparent;
   border: none;
}

h2 {
  font-size: 2.5em;
}

#nav {
  margin-top: 4em;
}

#game {
  background-color: $yellow;
  color: $navy-blue;
  border-radius: 10px;
  margin-top: 3em;
  max-height: 33em;
}


.game-play {
  background-image: url("../assets/maplestory_bg.png");
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 10px;
  max-height: 33em;
}

.game-play #slime {
  position: absolute;
  bottom: 50px;
  left: 200px;
}

.game-play .game-wrap {
  position: relative;
  width: 300px;
  height: 500px;
}

.game-play .nametag {
  position: absolute;
  padding: .1em .3em .1em;
  bottom: 28px;

  background-color: rgba(0, 0, 0, .7);
  color: white;
  font-size: .8em;
}

.game-play .nametag.name-short {
  left: 223px;
}

.game-play .nametag.name-medium {
  left: 215px;
}

.game-play .nametag.name-long {
  left: 210;
}

.game-control {

  width: 100%;

  h2 {
    padding: .5em;
    line-height: 1.25;
  }

  form {
    padding: 1em;
  }

  input[type="text"] {
    border-bottom-color: inherit;
  }

  select {
    border: 1px solid $navy-blue;
  }

  input[type="submit"] {
    display: flex;
    justify-content: center;
    padding: 10px 25px 10px;
    font-size: 1.2em;
    border: none;
    background-color: $sea-green;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

}
